extends layout

block content

  h1 Category: #{categories.name}
  p
    a(href=categories.url+'/delete') Delete this category

  div(style='margin-left:20px;margin-top:20px')

    h4 Products

    dl
      each product in products_category
        dt
          a(href=product.url) #{product.name}
          div=product.price 
          div=product.stock 
          div=product.brand


      else
        p This category has no products yet.