extends layout

block content

  h1 #{product.name}
  p
    a(href=product.url+'/delete') Delete product

  div(style='margin-left:20px;margin-top:20px')

    dl
      div=product.name
      div=product.price 
      div=product.stock 
      div CATEGORY
        each category in product_categories
          div=category.name      
      div BRAND
        each brand in product_brand
          div=brand.name 


