extends layout

block content

  h1 #{product.name}
  p
    a(href=product.url+'/delete') Delete product

  div(style='margin-left:20px;margin-top:20px')

    dl
      div=product.name
      div=product.price 
      div=product.stock 
        div category
      div=product.category         
        div brand
      div=product.brand 


      each category in product_categories
        div=category.name