extends layout

block content

  h1 Brands: #{brand.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Products

    dl
      each product in brand_product
        dt
          a(href=product.url) #{product.name}
          div=product.price 
          div=product.stock 
          div=product.categories 

        dd #{product.summary}

      else
        p This brand has no products yet.